<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Beam - Comptabilité' : title%></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/css/bulma.css" rel="stylesheet">
  </head>

  <body>

    <%- body %>
    <script
      src="/sails.io.js"
      url="http://localhost:1337"
      environment="development"
      headers='{ "x-csrf-token": "<%= typeof _csrf !== 'undefined' ? _csrf : '' %>" }'/></script>

  </body>
</html>
