<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Beam' : title%></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/assets/css/bulma.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>

    <%- body %>
    <script
      src="/sails.io.js"
      url="http://localhost:1337"
      environment="development"
      headers='{ "x-csrf-token": "<%= typeof _csrf !== 'undefined' ? _csrf : '' %>" }'/></script>

  </body>
</html>
