.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5px 30px 12px;
  background: #fff;
  margin-top: 10px;
  width: 110px !important;
  height: 100vh;
  -webkit-box-shadow: 3px 0px 60px -15px rgba(0,0,0,0.08);
  -moz-box-shadow: 3px 0px 60px -15px rgba(0,0,0,0.08);
  box-shadow: 3px 0px 60px -15px rgba(0,0,0,0.08);

  .logo {
    height: 40px;
    margin-left: 5px;
  }

  .center-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      font-size: 1.5rem;
      color: #cbcbcb;
      margin-bottom: 20px;
      transition: all 0.2s ease;
    }

    a:hover, .is-active{
      color: #3c4bdf;
    }
  }

  .right-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      font-size: 1.5rem;
      color: #cbcbcb;
      margin-bottom: 20px;
      transition: all 0.2s ease;
    }

    a:hover, .is-active{
      color: #3c4bdf;
    }
  }
}
