.header-dashboard{
  background: white;
  width: 100%;
  min-height: 400px;
  padding: 40px;
  border-radius: 0 0 20px 20px;
  margin-top: -50px;
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.07);
  box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.07);
}

.stat-badge{
  background: #f1f1f1;
  width: 20px !important;
  height: 20px;
  border-radius: 50px;
  padding: 5px 11px;
  margin-right: 10px;
  font-size: 15px;
}

.recharts-responsive-container{
  margin-top: 75px !important;
}

.user-button {
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 20px 0px !important;
}

.profile-picture-flow{
  -webkit-box-shadow: 0px 0px 28px 0px rgba(60,75,223,0.51);
  -moz-box-shadow: 0px 0px 28px 0px rgba(60,75,223,0.51);
  box-shadow: 0px 0px 28px 0px rgba(60,75,223,0.51);
  border-radius: 50px;
}

.account-profil-widget{
  border: 1px solid #d1d4d8;
  border-radius: 10px;
  padding: 10px 10px;
}

.user-button-panel {
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.03), 0 1px 3px rgba(0, 0, 0, 0.06);
  background: #eff1f5;
  color: #aeb8c8;
  border: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 20px 0px !important;
  transition: all 0.2s ease;

  &:hover{
    background: #ebedf1;
  }

  &.is-red {
    &:hover {
      background: #f15b5f;
      color: white;
    }
  }

  &.is-green {
    &:hover {
      background: #5bb36b;
      color: white;
    }
  }

  &.is-dangerdanger {
    &:hover {
      background: #191919;
      color: white;
    }
  }
}

.icon-link {
  color: #aeb8c8;
  &.is-active{
    color: #5bb36b;
  }
}
